h1{
    color: blue
}

.redClass {
    color:red
}

#thisIsAnID {

    color: rgba(125, 125, 255, .75);
    margin: 50px;
    border: 30px solid red
} 

.a:hover {
    color: #00e1ff;

    }